@import 'mixins';
@import 'colors';

.event-list {
  @include mobile {
    padding: 1rem;
  }

  @include desktop {
    padding-bottom: 1rem;
  }

  &__grid {
    display: grid;
    gap: 0.5rem;
    margin: 1.5rem auto;

    @include mobile {
      grid-template-columns: 1fr;
      width: 100%;
    }

    @include desktop {
      grid-template-columns: repeat(2, 1fr);
      width: 50%;
    }
  }
}

.no-events {
  @include font($family: 'Open Sans, Helvetica, Arial, sans-serif', $size: 1.8rem, $weight: bold, $lineHeight: 1.5, $letterSpacing: normal);
  width: 50%;
  margin: 0 auto;
  margin-top: 10rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid map-get($app-colors, 'text');
  padding: 16px;
  min-height: 15rem;
  text-align: center;
  color: darken(map-get($app-colors, 'text'), 10%);
  background-color: lighten(map-get($app-colors, 'background'), 10%);

  @include mobile {
    width: 80%;
  }
}
