<mat-card *ngIf="event?.id; else noEventCard" class="event-card">
  <div class="event-card__header">
    <mat-card-title class="event-card__title">
      <span class="link" (click)="goToEvent(event.id)">{{ event.title }}</span>
    </mat-card-title>
    <mat-card-subtitle class="event-card__subtitle">
      <span class="link" (click)="goToEvent(event.id)">{{ event.subtitle }}</span>
    </mat-card-subtitle>
  </div>
  <div class="event-card__body">
    <span class="link" (click)="goToEvent(event.id)" class="event-card__image-wrapper">
      <img
        mat-card-image
        class="event-card__image"
        [src]='event.image'
        alt="{{ event.title }}"
      >
    </span>
    <mat-card-content class="event-card__content">
      <p class="event-card__dates">
        {{event.place}}: {{ event.startDate | date:'dd/MM/YYYY' }} - {{ event.endDate | date:'dd/MM/YYYY' }}
      </p>
      <p class="event-card__description" [innerHTML]="event.description"></p>
    </mat-card-content>
    <mat-card-actions class="event-card__actions">
      <button mat-button (click)="goToEvent(event.id)">Comprar</button>
    </mat-card-actions>
  </div>
</mat-card>

<ng-template #noEventCard>
  <mat-card class="event-card">
    <mat-card-content class="event-card__content">
      <p>EVENT INFO NOT FOUND</p>
    </mat-card-content>
  </mat-card>
</ng-template>
