@import 'colors';
@import 'mixins';

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 75px;
  background-color: map-get($app-colors, 'primary');
  box-shadow: 0 12px 8px rgba(map-get($app-colors, 'text'), 0.6);
}

h1 {
  @include font($family: 'Open Sans, Helvetica, Arial, sans-serif', $size: 1.2rem, $weight: normal, $lineHeight: 1.5, $letterSpacing: normal);
  margin: 0;
  flex-wrap: wrap;
  text-align: center;
  color: map-get($app-colors, 'white');
}
