<ng-container *ngIf="computedEventInfo$ | async as eventInfo; else notFound">
  <div class="session-list">
    <div *ngFor="let session of eventInfo.sessions" class="session-list__row">
      <span class="session-list__info">
        Fecha: {{ session.date | date:'dd/MM/yyyy' }}, Disponibilidad: {{ session.availability }}
      </span>
      <div class="session-list__counter">
        <button mat-button (click)="decrement(session, eventInfo)">-</button>
        <span class="session-list__quantity">{{ session.selected }}</span>
        <button mat-button (click)="increment(session, eventInfo)">+</button>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #notFound>
  <span class="event-notFound">EVENT INFO NOT FOUND</span>
</ng-template>
