@import 'colors';
@import 'mixins';

.shopping-cart {

  border: 1px solid lighten(map-get($app-colors, 'text'), 20%);
  padding: 2rem;
  margin: 1rem;

  @include font($family: 'Open Sans, Helvetica, Arial, sans-serif', $size: 1rem, $weight: normal, $lineHeight: 1.5, $letterSpacing: normal);


  &__event-group {
    margin-bottom: 1rem;
  }

  &__event-title {
    margin-bottom: 0.5rem;
    @include font($family: 'Open Sans, Helvetica, Arial, sans-serif', $size: 1.2rem, $weight: bold, $lineHeight: 1.5, $letterSpacing: normal);

  }

  &__session {
    display: flex;
    align-items: center;
    padding: 0.5rem;
    // Use a lighter version of text for the dividing line
    border-bottom: 1px solid lighten(map-get($app-colors, 'text'), 30%);
    gap: 1rem;

    &:last-child {
      border-bottom: none;
    }
  }

  &__session-date {
    margin-right: 1rem;
  }

  &__session-quantity {
    margin-left: auto;
    margin-right: 0;
  }

  &__remove-icon {
    cursor: pointer;
    height: 1.2em;
    width: auto;
    object-fit: contain;
    transform: translateY(-1px);
  }

  &__empty {
    padding: 1rem;
    text-align: center;
    color: map-get($app-colors, 'text');
    font-style: italic;
  }

  &__clear {
    display: flex;
    align-self: center;
    justify-self: end;
    padding: 1rem;
  }
}
