@import './styles/colors';
@import './styles/mixins';

html, body { height: 100%; }
body { margin: 0; font-family: Open Sans, Helvetica, Arial, sans-serif; }

.link {
  color: map-get($app-colors, link);
  cursor: pointer;

  &:hover {
    color: darken(map-get($app-colors, link), 15%);
    text-decoration: none;
  }
}
